body {
    background-color: #0a0a0a;
    color: #8b0000;
    text-align: center;
    margin-top: 200px;
    margin-left: 550px;
    margin-right: 550px;
}

/* Name Card */
.name-card {
    margin-top: 10%;
    background-color: #e0e0e0;
    border-radius: 50px;
    border: 10px solid #8b0000;
    padding: 100px;
}

h1, h2, p {
    margin: 0; /* Removes default margin */
}

.hero {
    margin-bottom: 4px; /* Adds a margin below the hero */
}

.subtitle {
    margin-bottom: 10px; /* Adds a margin below the subtitle */
}

.role p {
    margin: 2px 0; /* Adds a margin below the role; Fixing the spacing between the roles; They're 'Grouped" Together*/
}

