body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.navibar {
    display: flex;
    justify-content: center;
    background-color: blue;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    gap: 50px;
}

ul li {
    list-style: none;
}

.sidebar {
    background-color: red;
    display: flex;
     width: 120px;
    height: 100vh;
}

.sidey {
    display: flex;
    flex-direction: column;
     gap: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

